.streamingServiceQuestion {
    display: none;
}

#madeIntoMovieYes:checked ~ .streamingServiceQuestion {
    display: block;
}

.join {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0px;
}

thead {
    background-color: #3a123a;
    color: white;
}

th {
    padding: 10px;
    text-align: left;
}

/* Style table rows */
tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Style table cells */
td {
    padding: 20px;
}

/* Add hover effect to table rows */
tbody tr:hover {
    background-color: #e0e0e0;
}

h1, h2{
   text-align: center; 
}
h1{
    color: #FDFDFD;
    font-size: 3em;
    margin-bottom: 20px;
}

nav {
    background-color: #3D9970; /* Forest Green */
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    
}

nav a {
    text-decoration: none;
    color: #FDFDFD; /* Off-White */
}

nav a:hover {
    color: red
    
}
body {
    margin: 0%; /* Adjust the top margin to increase the space between the header and the body */
    background-color: #FDFDFD; /* Off-White */
    color: #001F3F; /* Deep Blue */

}
.bookDetails {
    text-align: center;
    align-items: center;
}
.publisherDetails {
    text-align: center;
}

header {
    background-color: #B10DC9; /* Rich Red */
    color: #FDFDFD;
    padding: 10px;
    text-align: center;
}
p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 30px;
    text-align: center;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3D9970;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.cta-button:hover {
    background-color: #218838;
}

footer {
    background-color: #001F3F; /* Deep Blue */
    color: #FDFDFD; /* Off-White */
    padding: 10px;
    text-align: center;
}
#Error, .err {
    color:red;
    font-weight: bold;
}

.imgFormat {
    width: 100px;
}

.imgFormatEdit {
    width: 350px;
    align-items: center;
}
.features {
    text-align: center;
}
.h2 {
    margin-top: 60px;
}
fieldset {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    max-width: 500px; 
    margin: auto;
  }